# .NET build artifacts
bin/
obj/

# Visual Studio
.vs/
*.user
*.rsuser
*.suo
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ll]og/
[Bb]uild/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Logs
*.log

# OS
[Dd]esktop.ini
[Tt]humbs.db

# Rider / JetBrains
.idea/
*.sln.iml

# Coverage
coverage/
*.coverage
*.coveragexml

# Others
.env
.env.*

# Generated
Generated/**
